<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>jikeng</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SelectCurrentData</servlet-name>
		<servlet-class>Servlet.SelectCurrentData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectCurrentData</servlet-name>
		<url-pattern>/SelectCurrentData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetAllModels</servlet-name>
		<servlet-class>Servlet.GetAllModels</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllModels</servlet-name>
		<url-pattern>/GetAllModels</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetAllSensors</servlet-name>
		<servlet-class>Servlet.GetAllSensors</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllSensors</servlet-name>
		<url-pattern>/GetAllSensors</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetCurrentData</servlet-name>
		<servlet-class>Servlet.GetCurrentData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCurrentData</servlet-name>
		<url-pattern>/GetCurrentData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetAllHoles</servlet-name>
		<servlet-class>Servlet.GetAllHoles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllHoles</servlet-name>
		<url-pattern>/GetAllHoles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetAllShowHolesData</servlet-name>
		<servlet-class>Servlet.GetAllShowHolesData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllShowHolesData</servlet-name>
		<url-pattern>/GetAllShowHolesData</url-pattern>
	</servlet-mapping>
</web-app>